*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}


nav{position: fixed;
 top: 20px;
left: 0;
width: 100%;
z-index: 1000;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
/*****************************header ************************************/
.header {
    width: 90%;
    height: auto;
    background-color: #1a2456;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo {
    width: 20%;
    height: 60px;
    color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden; 
  }
 
.logo img {
    max-width:90%;
    height: 70px;
    margin-right: 20px;
    margin-top: 20px;
    
}
 
.links {
    color: #e9a38e; /* لون النص العادي في الروابط */
    font-size: 0.8em;
    width: 60%;
    height: 60px;
    display: flex;  
    gap: 25px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.links a {
    text-decoration: none;  
    color: inherit; /* يرث اللون من .links */
}

.links a:hover {
    color: #d4af37; /* لون النص عند التمرير */
}

.menu-icon {
    font-size: 30px;  
    cursor: pointer;
    display: none;  
    width: 40%;
    color: #e9a38e; /* لون الأيقونة */
}


/******************************************/
 
 
@media (min-width: 375px) and (max-width: 480px){

 
     .links {
        display: none;  
        flex-direction: column; 
        position: absolute ;
        background-color: #4CAF50;  
        width: 20%;  
        z-index: 1;  

        
     }

    .menu-icon {
        display: block;  
         width: 90px;
        margin-left:40%;
      
      }
   
}
/****************************************************/
.background{ width: 100%;
height: 500px;
background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.6)), url(https://monogramcc.com/static/9a0b554db1990565457610c5f83b3ad7/91943/shop_cta_xl_896f6b8270.webp);
 background-repeat: no-repeat;
 background-size: 100% 100%;
 margin-top: 0%;

}

 .background-text  {

    position: absolute;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    color: #ff8b68; 
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;  
}
/*-------------photos-list-1-sec--------------*/
.photo-list-1-sec{
    width: 100%;
    
}
.container-1{
    width: 70%;
    height: auto;
    position: relative;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2,1fr);
    color: #1a2456;
    margin: 100px auto;
}
.img-list{
    width: 100%;
    height: auto;
    text-decoration: none;
    color: #1a2456;
    position: relative;
    margin: auto;
    


}
.img-list  p:nth-of-type(2){
    margin-top: -10px;
    color: #747a99;
    font-size: 0.8em;
}


.img-list .top-paragraph {
    position: absolute;
    top: 3px;
    right: 0;
    background-color: #ff8b68;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bolder;
    
}
.img-list a{
    text-decoration: none;
    color: #1a2456;
}
.img-list a:hover{
    color: #080b1b;
}
.img-list img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.list-header{
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
   
}
.list-header h3{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.list-header p{
    text-transform: capitalize;
    color: #6c757d ;
    
   
}
/*----------------images hover section one-------------*/
.item-1 img:hover{
    content: url(./images/Everyday-Bundle-Mocks-horizontal_1920x1281_crop_center.jpg.webp);
}

.item-2 img:hover{
    content: url(./images/Consoles_TravelerBracket1_Monogram_May2020_4561_30a35bd4-01b4-44db-894a-e06162d8ab77_1920x1280_crop_center.jpg.webp);
}
.item-3 img:hover{
    content: url(./images/Consoles_StudioBracket1_Monogram_May2020_4558_53685b21-b09f-45b0-85a2-180d6acfafac_1920x1280_crop_center.jpg.webp);
}
.item-4 img:hover{
    content: url(./images/Consoles_MasterBracket1_Monogram_May2020_4555_1920x1280_crop_center.jpg.webp);
}

.Monogram-keyboard img:hover{
    content: url(./images/Monogram_Keyboard_2_878639a5-2865-4c4f-a21e-498f3a3db3b8_1920x1080_crop_center.jpg.webp);
}

.Monogram-keyboard{
    width: 70%;
    margin-top: -80px;
    margin-bottom: 50px;
   
}
.Monogram-keyboard img{
    width: 100%; 
    height: 450px; 
    object-fit: cover ;
}
/*----------------create-yoyr-own-console-section-------------*/

.bg-console-img{
    width: 100%;
    height:450px;
    overflow: hidden;
    margin-bottom: -50px;
    background-color: rgb(201, 198, 198);
    display: flex;
    flex-direction:column ;
    align-items: center;
    position: relative;
}
.bg-console-img img{
    object-fit: contain;
    object-position: 50% 100%;
    width: 100%;
    height: 100%;
    position: relative;
   
}
.bg-console-text{
    position: absolute;
    text-align: center;
    letter-spacing: 2px;
    color:  #1a2456;
}
.bg-console-text br{
    display: none;
}
.bg-console-text h1{
    font-size: 3em;
    margin-bottom: 0;
}

/*-------------photos-list-2-sec--------------*/

.container-2{
    width: 70%;
    height: auto;
    position: relative;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3,1fr);
    color: #1a2456;
    margin: 100px auto;
}
.money{
    color: #1a2456 !important;
}



/*----------------images hover section two-------------*/



.list-2 img:hover{
    content: url(./images/Consoles_TravelerBracket1_Monogram_May2020_4561_30a35bd4-01b4-44db-894a-e06162d8ab77_1920x1280_crop_center.jpg.webp);
}
.list-3 img:hover{
    content: url(./images/Consoles_CoreBracket1_Monogram_May2020_4578_6683fd8e-be63-45bb-9fbd-dd82a4838db8_1920x1280_crop_center.jpg.webp);
}
.list-4 img:hover{
    content: url(./images/Consoles_SliderBracket1_Monogram_May2020_4565_f941e8d9-d194-47ee-a54a-79132f105e34_1920x1280_crop_center.jpg.webp);
}
.list-5 img:hover{
    content: url(./images/Consoles_CoreBracket1_Monogram_May2020_4578_6683fd8e-be63-45bb-9fbd-dd82a4838db8_1920x1280_crop_center.jpg.webp);
}
.list-6 img:hover{
    content: url(./images/Consoles_CoreBracket1_Monogram_May2020_4578_6683fd8e-be63-45bb-9fbd-dd82a4838db8_1920x1280_crop_center.jpg.webp);
}


  





/*--------------------------------Media-Query-----------------------------------*/
/*----------------------------------------
         for big screens
------------------------------------------*/

@media (min-width: 1600px) {
    /*-----------photos-list-1-sec-----------*/
    .container-1{
        width: 60%;

    }
    /*-------------photos-list-1-sec--------------*/
    .Monogram-keyboard{
        width: 60%;
    }
      /*-----------photos-list-1-sec-----------*/
      .container-2{
        width: 60%;

    }
   
}

/*------------------------------------------------
          for mobile phones
-------------------------------------------------*/

@media (min-width: 375px) and (max-width: 480px){
     /*-----------photos-list-1-sec-----------*/
    .container-1{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

     /*-------------photos-list-1-sec--------------*/
     .list-header{
        font-size: 0.8em;
    }
    .Monogram-keyboard{
        width: 90%;
    }
    .Monogram-keyboard img {
        height: auto; 
    }
    /*--------create-yoyr-own-console-section-------*/

    .bg-console-img{
        height:300px;
    }
    .bg-console-text br{
        display: inline;
    }
    .bg-console-text h1{
        font-size:2.5em;
    }

    
        /*-----------photos-list-1-sec-----------*/
        .container-2{
            width: 90%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 0;
        }

}
